.THIS.paragraph0 {
    text-shadow: 3px 2px black;
}
.THIS .paragraph1 {
    color: green;
    font-style: bold;
}
.THIS.Para {
    color: blue;
    font-style: bold;
}
.THIS .paragraph3 {
    color: red;
    font-style: bold;
}